/* -------header--------- */

.sony{
    height: 50px;
    background-color: black;
}
.nav{
    background-color: rgb(255, 255, 255);
}
.header{
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 3px #dedede;
}

.sony{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center; 
}

.logo-sony{
    width: 100px;
    height: 100px;
}

.lens{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

/* -------jambotron--------- */
#jambotron{
    padding-top: 120px;
}

.background-jambotron{
    background-image: url(..//img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position:top;
}

.pt-10{
    padding-top: 300px;
}
.returnal{
    max-width: 200px;
}

/* -------featured-games--------- */

.game{
    min-height: 100px;
    min-width: 150px;
    border-radius: 15px;
    object-fit: cover;
    transition: 1s;
}

#featured-games img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    object-fit: contain;
}
.game:hover{
    border: 2px solid blue;
    transform:translateY(-10%);
}

/* -------text-blue--------- */

.text-blue{
    color: blue;
    margin-bottom: 0px;
}

.text-grey{
    color: grey;
}

/* -------ps5-accessories--------- */

#ps5-accessories img{
    height: 75%;
    width: 100%;
    border-radius: 15px;
    justify-content:center;
    display: flex;
    object-fit: contain;
}

.accessories{
    min-width: 70px;
    object-fit: cover;
    text-align: center;
    opacity: 0.5;
}

.accessories:hover{
    opacity: 1;
    border-bottom: 2px solid blue;
}

/* -------jambotron2--------- */

#jambotron2{
 margin-top: 30px;
}

.background-jambotron2{
    background-image: url(..//img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    width: auto;
    background-position:center;
    background-position:top;
}

.takes{
    width: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* -------nuove-uscite-title--------- */

#nuove-uscite-title{
    background-color: rgb(31, 31, 31);
}

/* -------new-games--------- */

#new-games{
    background-color: rgb(31, 31, 31);
}

.box{
    border-radius: 20px;
    object-fit: cover;
}

#new-games img{
    height: 90%;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    object-fit: contain;
    opacity: 0.6;
}
#new-games img:hover{
    opacity: 1;
}


/* -------jambotron3--------- */

.background-jambotron3{
    background-color: rgb(190, 188, 187);
}

.logo-paystation-plu {
    max-width: 300px;
}
.ps-plus-april-monthly{
    max-width: 100%;
    height: auto;
}
.bot{
    background-color: rgba(255, 255, 255, 0.5);
    color: blue;
}

/* -------box-store--------- */

.square{
    object-fit: cover;
}

#box-store img{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    object-fit: contain;
    opacity: 1;
}
#box-store img:hover{
    opacity: 0.6;
}

/* -------jambotron4--------- */

#jambotron4{
    margin-top: 40px;
    margin-bottom: 40px;
}

.background-jambotron4{
    background-color: rgb(22, 28, 59);
}

.logo-new {
    max-width: 100%;
}

.ps-plus-april-monthly{
    max-width: 500px;
    height: auto;
}

.bot2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* -------social--------- */
#social{
    margin-bottom: 70px;
}

#social img{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    object-fit: contain;
    opacity: 1;
}
#social img:hover{
    opacity: 0.6;
}

/* -------footer--------- */

footer{
    background-color: rgb(0, 67, 156);
}
.globe{
    width: 30px;
    height: 30px;
}
.Country{
    color: white;
    vertical-align: middle;
}

.list li, a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.sie{
    width: 100px;
    height:100px;
}


