/* -------header--------- */

.sony{
    
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.nav{
    
    height: 70px;
    background-color: rgb(86, 216, 216);
}

/* -------jambotron--------- */

.background-jambotron{
    background-image: url(..//img/jumbo-bg.png);
    background-repeat: no-repeat;
    width: auto;
    background-position:center;
    background-position:top;
}
.pt-10{
    padding-top: 300px;
}
.returnal{
    max-width: 200px;
}

/* -------featured-games--------- */

.game{
    min-height: 100px;
    min-width: 150px;
    border-radius: 15px;
    object-fit: cover;
}

#featured-games img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    object-fit: contain;
}
.game:hover{
    border: 2px solid blue;
}

#ps5-accessories img{
    height: 75%;
    width: 100%;
    border-radius: 15px;
    justify-content:center;
    display: flex;
    object-fit: contain;
}

.accessories{
    min-width: 70px;
    object-fit: cover;
    text-align: center;
    opacity: 0.5;
}

.accessories:hover{
    opacity: 1;
    border-bottom: 2px solid blue;
}

/* -------jambotron2--------- */

.background-jambotron2{
    background-image: url(..//img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    width: auto;
    background-position:center;
    background-position:top;
    margin-top: 50px;
}

.takes{
    width: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.mb-10{
    margin-top: 00px;
}

/* -------nuove-uscite-title--------- */

#nuove-uscite-title{
    background-color: rgb(31, 31, 31);
}