/* -------header--------- */

.sony{
    
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.nav{
    
    height: 70px;
    background-color: rgb(86, 216, 216);
}

/* -------jambotron--------- */

.background-jambotron{
    background-image: url(..//img/jumbo-bg.png);
    background-repeat: no-repeat;
    width: auto;
    background-position:center;
    background-position:top;
}
.pt-10{
    padding-top: 300px;
}
.returnal{
    max-width: 200px;
}

/* -------featured-games--------- */


.game{
    min-height: 100px;
    min-width: 150px;
    border-radius: 15px;
    object-fit: cover;
}

#featured-games img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    object-fit: contain;
}
.game:hover{
    border: 2px solid rgb(168, 168, 255);
}